flow.json
[{"id":"83a6b36.1f9505","type":"tab","label":"Resume","disabled":false,"info":""},{"id":"38478f88.80961","type":"tab","label":"TG_BOT","disabled":false,"info":""},{"id":"5327f9a7.b0a818","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5e9eddd8.933504","type":"ui_group","z":"","name":"Registros de Dispositivos ","tab":"995eb8bc.cef008","order":1,"disp":true,"width":"8","collapse":false},{"id":"99f4219f.07845","type":"ui_group","z":"","name":"Información ","tab":"b609016d.91277","order":2,"disp":true,"width":"6","collapse":false},{"id":"995eb8bc.cef008","type":"ui_tab","z":"","name":"Schneider Electric","icon":"dashboard","disabled":false,"hidden":false},{"id":"b609016d.91277","type":"ui_tab","z":"","name":"Machine Advisor","icon":"cloud_queue","order":3,"disabled":false,"hidden":false},{"id":"3804ce65.ae9df2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cd43a0ea.1b15b","type":"telegram bot","z":"","botname":"ATVassistant_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"1dd603d.19eb9fc","type":"telegram bot","z":"","botname":"HeinzBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"5033e4ff.78616c","type":"function","z":"83a6b36.1f9505","name":"selectOrganization","func":"msg.headers={}\nmsg.headers['Authorization']=flow.get('tokenma');\nmsg.headers['Content-Type']='application/json';\nlet query=`mutation ($organizationId : ID!){\n          selectOrganization(organizationId:$organizationId)\n          {\n              id\n              name\n          }\n    }`; \nvar ID=flow.get('id');\n\n\nvar organizationId={\n    \"organizationId\":ID\n};\n\nmsg.payload=JSON.stringify({query, variables:organizationId});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":720,"wires":[["f723de22.3b6d9","5b3dbd71.3900a4"]]},{"id":"f723de22.3b6d9","type":"http request","z":"83a6b36.1f9505","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://daas.machine-advisor.com/graphql","tls":"","persist":false,"proxy":"","authType":"","x":1350,"y":720,"wires":[["93e9887b.8a03b8"]]},{"id":"d9dc8afd.bfea98","type":"comment","z":"83a6b36.1f9505","name":"Seleccionar Organización ","info":"","x":910,"y":620,"wires":[]},{"id":"139d5c7b.b0a274","type":"comment","z":"83a6b36.1f9505","name":"Variables Iniciales ","info":"","x":930,"y":100,"wires":[]},{"id":"8c208c8d.365dc","type":"ui_form","z":"83a6b36.1f9505","name":"","label":" <font size=3>Nueva Maquina ","group":"5e9eddd8.933504","order":5,"width":0,"height":0,"options":[{"label":"Nombre","value":"newmachine","type":"text","required":true,"rows":null},{"label":"ID","value":"idhex","type":"text","required":true,"rows":null},{"label":"Certificado de Producto","value":"prodcert","type":"text","required":true,"rows":null},{"label":"PAC","value":"pac","type":"text","required":true,"rows":null},{"label":"Latitud","value":"lat","type":"text","required":true,"rows":null},{"label":"Longitud","value":"lon","type":"text","required":true,"rows":null}],"formValue":{"newmachine":"","idhex":"","prodcert":"","pac":"","lat":"","lon":""},"payload":"","submit":"Crear","cancel":"Cancelar","topic":"","x":200,"y":1020,"wires":[["9eaa034e.949ed","5353a5b4.dab0bc","2715831e.c7f2ec"]]},{"id":"cb21eca9.6dc55","type":"http request","z":"83a6b36.1f9505","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://daas.machine-advisor.com/graphql","tls":"","persist":false,"proxy":"","authType":"","x":1290,"y":1020,"wires":[["ccb61541.503898"]]},{"id":"f292576b.339798","type":"ui_text","z":"83a6b36.1f9505","group":"5e9eddd8.933504","order":6,"width":0,"height":0,"name":"ID Maquina Registrada","label":"ID:","format":"{{msg.payload.data.addMachine.id}}","layout":"col-center","x":2620,"y":940,"wires":[]},{"id":"9eaa034e.949ed","type":"function","z":"83a6b36.1f9505","name":"addMachine Machine Advisor ","func":"msg.headers={}\nmsg.headers['Authorization']=flow.get(\"tokenma\");\nmsg.headers['Content-Type']='application/json';\nlet query=`mutation ($machine:MachineInput!,$location:LocationInput!){\n  addMachine(machine:$machine, location:$location){\n    id\n    name\n  }\n}`;\nlet machine={\n    \"name\":msg.payload.newmachine,\n    \"machineType\": flow.get(\"machinetype\"),\n    \"customer\":flow.get('customerid'),\n};\nlet location={\n    \"point\":{\n        \"lat\":parseFloat(msg.payload.lat),\n        \"lon\":parseFloat(msg.payload.lon)\n    }\n}; \nmsg.payload=JSON.stringify({\n    query,\n    variables:{machine, location}\n    }); \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":1020,"wires":[["cb21eca9.6dc55","36ec5a23.ea8936"]]},{"id":"ccb61541.503898","type":"json","z":"83a6b36.1f9505","name":"","property":"payload","action":"","pretty":false,"x":1490,"y":1020,"wires":[["f292576b.339798","47d0222c.506a0c","e9afa256.5cf24","6ce14643.cd8f78","a6741846.cf0978","b01945ff.d59708","bfa8b90a.967b78"]]},{"id":"47d0222c.506a0c","type":"ui_text","z":"83a6b36.1f9505","group":"5e9eddd8.933504","order":7,"width":0,"height":0,"name":"Nombre Maquina Registrada","label":"Nombre:","format":"{{msg.payload.data.addMachine.name}}","layout":"col-center","x":2640,"y":980,"wires":[]},{"id":"e7c7eed9.5b703","type":"function","z":"83a6b36.1f9505","name":"","func":"msg.payload=msg.payload.data.me.myCustomers;\nreturn msg","outputs":1,"noerr":0,"x":1510,"y":800,"wires":[["b525502a.b0748","ae6dd5bd.7d6338","84847d8a.c0346"]]},{"id":"b525502a.b0748","type":"split","z":"83a6b36.1f9505","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1670,"y":800,"wires":[["1e974699.cd0b19"]]},{"id":"1e974699.cd0b19","type":"function","z":"83a6b36.1f9505","name":"","func":"const data=msg.payload;\nmsg.payload={\n    'command':'addRow',\n    'arguments':[data]\n}\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":800,"wires":[["1bd52d61.b306e3"]]},{"id":"1bd52d61.b306e3","type":"ui_table","z":"83a6b36.1f9505","group":"5e9eddd8.933504","name":"Clientes","order":2,"width":8,"height":3,"columns":[{"field":"name","title":"Cliente","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"id","title":"Identificador ","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":2600,"y":800,"wires":[["dcd5c481.696b28","fbeda858.e2c788"]]},{"id":"1daa2432.b2f0ac","type":"json","z":"83a6b36.1f9505","name":"","property":"payload","action":"","pretty":false,"x":1310,"y":800,"wires":[["e7c7eed9.5b703"]]},{"id":"feddf7f1.471d38","type":"http request","z":"83a6b36.1f9505","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://daas.machine-advisor.com/graphql","tls":"","persist":false,"proxy":"","authType":"","x":1130,"y":800,"wires":[["1daa2432.b2f0ac"]]},{"id":"5b3dbd71.3900a4","type":"function","z":"83a6b36.1f9505","name":"me","func":"\nmsg.headers={}\nmsg.headers['Authorization']=flow.get('tokenma');\nmsg.headers['Content-Type']='application/json';\nmsg.payload={} \nlet data=`{\n  me {\n    id\n    username\n    email\n    myMachines {\n      id\n      name\n    }\n    myMachineTypes{\n      id\n      name\n    }\n    myOrganizations{\n      id\n      name\n    }\n    myCustomers{\n        id\n        name\n    }\n  }\n  }` \nmsg.payload=JSON.stringify({query:data}) // \nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":800,"wires":[["feddf7f1.471d38"]]},{"id":"f55a94a1.7fbee8","type":"ui_text","z":"83a6b36.1f9505","group":"5e9eddd8.933504","order":1,"width":0,"height":0,"name":"","label":"Organización Sincronizada","format":"{{msg.payload.data.selectOrganization.name}}","layout":"col-center","x":2620,"y":720,"wires":[]},{"id":"93e9887b.8a03b8","type":"json","z":"83a6b36.1f9505","name":"","property":"payload","action":"","pretty":false,"x":1610,"y":720,"wires":[["f55a94a1.7fbee8"]]},{"id":"e3118d0b.6233c","type":"ui_button","z":"83a6b36.1f9505","d":true,"name":"borrar","group":"5e9eddd8.933504","order":3,"width":8,"height":1,"passthru":false,"label":"Borrar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"refresh","x":2610,"y":900,"wires":[["1bd52d61.b306e3"]]},{"id":"ae6dd5bd.7d6338","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":860,"wires":[]},{"id":"6ce14643.cd8f78","type":"function","z":"83a6b36.1f9505","name":"unsetAutoGeolocation","func":"setTimeout(function(){\n    node.status({fill:\"green\", shape:\"ring\", text:\"enviado\"});\n       msg.headers={}\nmsg.headers['Authorization']=flow.get(\"tokenma\");\nmsg.headers['Content-Type']='application/json';\nlet query=`mutation ($machineId:ID!){\n  unsetAutoGeolocation(machineId:$machineId)\n}`;\n\nlet variables= {\n    \"machineId\": msg.payload.data.addMachine.id,\n}\n\nmsg['payload'] = JSON.stringify({\n                query,\n                variables\n                }); \n    node.send(msg);\n}, 1000);\nnode.status({fill:\"yellow\", shape:\"ring\", text:'en espera'});\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":1160,"wires":[["168302f.0964dfd"]]},{"id":"e9afa256.5cf24","type":"function","z":"83a6b36.1f9505","name":"generateMonitorConfig","func":"setTimeout(function(){\nnode.status({fill:\"green\", shape:\"ring\", text:\"enviado\"});\nmsg.headers={}\nmsg.headers['Authorization']=flow.get(\"tokenma\");\nmsg.headers['Content-Type']='application/json';\nlet query=`mutation generateMonitorConfig($machineId: ID!, $gatewayFormat: GatewayFormat!, $gatewayType: GatewayType!, $subscriptionType: SubscriptionType!, $license: LicenseInput){\n  generateMonitorConfig(machineId: $machineId, format: $gatewayFormat, type: $gatewayType, subscriptionType: $subscriptionType, license: $license)\n  {\n    id\n  }\n}`;\n\nlet variables= {\n    \"machineId\": msg.payload.data.addMachine.id,\n    \"license\":null,\n    \"subscriptionType\": \"PayPerUse\",\n    \"gatewayType\": \"Custom\",\n    \"gatewayFormat\": \"Charlie\"\n}\n\nmsg['payload'] = JSON.stringify({\n                query,\n                variables\n                }); \n    node.send(msg);\n}, 2000);\nnode.status({fill:\"yellow\", shape:\"ring\", text:'en espera'});\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":1220,"wires":[["d1d4f159.890ba"]]},{"id":"a6741846.cf0978","type":"function","z":"83a6b36.1f9505","name":"selectMonitorTransportConfig","func":"setTimeout(function(){\nnode.status({fill:\"green\", shape:\"ring\", text:\"enviado\"});\nmsg.headers={}\nmsg.headers['Authorization']=flow.get(\"tokenma\");\nmsg.headers['Content-Type']='application/json';\nlet query=`mutation selectMonitorTransportConfig($machineId: ID!, $transportProtocol: GatewayTransport!){\n  selectMonitorTransportConfig(machineId: $machineId, transportProtocol: $transportProtocol){\n    id\n  }\n} `;\n\nlet variables= {\n    \"machineId\": msg.payload.data.addMachine.id,\n\"transportProtocol\": \"HTTPs\"\n}\n  \n\nmsg['payload'] = JSON.stringify({\n                query,\n                variables\n                }); \n    node.send(msg);\n}, 6000);\nnode.status({fill:\"yellow\", shape:\"ring\", text:'en espera'});\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":1280,"wires":[["3a069151.d20a6e"]]},{"id":"b01945ff.d59708","type":"function","z":"83a6b36.1f9505","name":"generateNewSasToken","func":"setTimeout(function(){\nnode.status({fill:\"green\", shape:\"ring\", text:\"enviado\"});\nmsg.headers={}\nmsg.headers['Authorization']=flow.get(\"tokenma\");\nmsg.headers['Content-Type']='application/json';\nlet query=`mutation ($machineId:ID!, $untilDate:Int){\n  generateNewSasToken(machineId:$machineId, untilDate:$untilDate)\n}`;\n\nlet variables= {\n    \"machineId\": msg.payload.data.addMachine.id,\n    \"untilDate\": 1637317680\n}\n\n\n  \n\nmsg['payload'] = JSON.stringify({\n                query,\n                variables\n                }); \n    node.send(msg);\n}, 8000);\nnode.status({fill:\"yellow\", shape:\"ring\", text:'en espera'});\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":1340,"wires":[["23a2335.cb9d7cc"]]},{"id":"168302f.0964dfd","type":"http request","z":"83a6b36.1f9505","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://daas.machine-advisor.com/graphql","tls":"","persist":false,"proxy":"","authType":"","x":2030,"y":1160,"wires":[["7c118f9b.45345","5887d81e.2fc5c8"]]},{"id":"7c118f9b.45345","type":"json","z":"83a6b36.1f9505","name":"","property":"payload","action":"","pretty":false,"x":2330,"y":1160,"wires":[["618d938c.0d5d9c"]]},{"id":"d1d4f159.890ba","type":"http request","z":"83a6b36.1f9505","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://daas.machine-advisor.com/graphql","tls":"","persist":false,"proxy":"","authType":"","x":2030,"y":1220,"wires":[["435421dd.debf7","104931d.89069ce"]]},{"id":"435421dd.debf7","type":"json","z":"83a6b36.1f9505","name":"","property":"payload","action":"","pretty":false,"x":2330,"y":1220,"wires":[["562ca78e.e0c3d8"]]},{"id":"3a069151.d20a6e","type":"http request","z":"83a6b36.1f9505","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://daas.machine-advisor.com/graphql","tls":"","persist":false,"proxy":"","authType":"","x":2030,"y":1280,"wires":[["a25a15b6.6ed918","45910a38.df4ac4"]]},{"id":"a25a15b6.6ed918","type":"json","z":"83a6b36.1f9505","name":"","property":"payload","action":"","pretty":false,"x":2330,"y":1280,"wires":[["f2161394.09a2b"]]},{"id":"23a2335.cb9d7cc","type":"http request","z":"83a6b36.1f9505","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://daas.machine-advisor.com/graphql","tls":"","persist":false,"proxy":"","authType":"","x":2030,"y":1340,"wires":[["a257fc04.ccdd6","89595929.15b1c8"]]},{"id":"a257fc04.ccdd6","type":"json","z":"83a6b36.1f9505","name":"","property":"payload","action":"","pretty":false,"x":2330,"y":1340,"wires":[["98d44a71.dab668","14eaac07.854184"]]},{"id":"98d44a71.dab668","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2530,"y":1360,"wires":[]},{"id":"bfa8b90a.967b78","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1630,"y":980,"wires":[]},{"id":"36ec5a23.ea8936","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":1120,"wires":[]},{"id":"5353a5b4.dab0bc","type":"function","z":"83a6b36.1f9505","name":"New Device Type ","func":"let data=\n{\n\"name\": msg.payload.newmachine,\n\"description\": \"Altivar312\",\n\"downlinkMode\": 1,\n\"downlinkDataString\": \"{tapId}0000{rssi}\",\n\"payloadType\": 2,\n\"keepAlive\": 3600,\n\"alertEmail\": msg.payload.email,\n\"automaticRenewal\": true,\n\"groupId\": flow.get('groupid'),\n\"contracts\": [\n{ \"id\": flow.get('contractid')}\n]\n}\nmsg.payload=JSON.stringify(data)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1440,"wires":[["6ad2d61f.6f63a8"]]},{"id":"6ad2d61f.6f63a8","type":"function","z":"83a6b36.1f9505","name":"Headers DeviceType","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = \"Basic NWYyMTVjZTNlODMzZDkwMzYyMWQ2NmNlOmFkMGJjMzY3NTI2MTcyZWI1ZDczZDk3ZjFlOGJjYzY3\";\nmsg.headers['php-auth-user'] = flow.get('user');\nmsg.headers['php-auth-pw'] = flow.get('pass');\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1440,"wires":[["46dbf0ff.6e632"]]},{"id":"46dbf0ff.6e632","type":"http request","z":"83a6b36.1f9505","name":"","method":"POST","ret":"bin","paytoqs":"ignore","url":"https://api.sigfox.com/v2/device-types/","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":1440,"wires":[["9721f776.ba6d08"]]},{"id":"9721f776.ba6d08","type":"function","z":"83a6b36.1f9505","name":"","func":"msg.payload=msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":1440,"wires":[["b575db6.4f0e628"]]},{"id":"b575db6.4f0e628","type":"json","z":"83a6b36.1f9505","name":"","property":"payload","action":"","pretty":false,"x":1310,"y":1440,"wires":[["bacbc712.94a4e8","c550cb6.6721538"]]},{"id":"dcd5c481.696b28","type":"function","z":"83a6b36.1f9505","name":"","func":"const customerID=msg.payload.id;\nnode.warn(customerID)\nflow.set('customerid', customerID);\nnode.warn(\"\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2840,"y":800,"wires":[["42dae47.2774c1c","c9c5e124.b3034"]]},{"id":"fbeda858.e2c788","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2870,"y":880,"wires":[]},{"id":"42dae47.2774c1c","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3060,"y":800,"wires":[]},{"id":"cfef7860.8e13b8","type":"function","z":"83a6b36.1f9505","name":"Credenciales y Parámetros ","func":"const key=\"Bearer KjF3zU7g2uPjwu2sBNbRhwM8bpsAFyQKtfkRgZhA\", //Machine Advisor Token\n      usr=\"5f215ce3e833d903621d66ce\", // Usuario Backend Sigfox \n      pss=\"ad0bc367526172eb5d73d97f1e8bcc67\", //Contraseña Backend Sigfox \n      machinetype=\"5b1134c87cafb27d399b1633\", // Planta Tipo A - Ilunion ----- Tipo de maquina (Machine Advisor)\n      id='4936bd20ba5af3a6f6e9d3fd', // ID de la Organización (Machine Advisor)\n      contractid='5d5c09fc0499f53de8cd739c', //contractID Sigfox\n      groupid='5d5c09fa256432154133b947';\n      \nflow.set('tokenma',key);\nflow.set('user',usr);\nflow.set('pass',pss);\nflow.set('machinetype', machinetype);\nflow.set('id',id);\nflow.set('contractid', contractid);\nflow.set('groupid', groupid);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":360,"wires":[["5033e4ff.78616c","7c29b170.59db8"]]},{"id":"7c29b170.59db8","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1730,"y":360,"wires":[]},{"id":"27d21929.014196","type":"inject","z":"83a6b36.1f9505","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":360,"wires":[["cfef7860.8e13b8"]]},{"id":"c9c5e124.b3034","type":"ui_text","z":"83a6b36.1f9505","group":"5e9eddd8.933504","order":4,"width":0,"height":0,"name":"","label":"Cliente Seleccionado ","format":"{{msg.payload.name}}","layout":"col-center","x":3170,"y":880,"wires":[]},{"id":"7ced9326.774a8c","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1710,"y":1440,"wires":[]},{"id":"d50fc0c0.7ac0d","type":"function","z":"83a6b36.1f9505","name":"New Device","func":"let data={\n        \"id\":flow.get('idhex'),\n        \"name\":flow.get('name'),\n        \"pac\":flow.get('pac'),\n        \"deviceTypeId\": flow.get('devicetypeid'),\n        \"productCertificate\":\n            {\n            \"key\":flow.get('prodcert')\n            },\n        \"prototype\": false,\n        \"automaticRenewal\":true,\n        \"activable\":true,\n        \"lat\":flow.get('lat'),\n        \"lng\": flow.get('long')\n    }\nmsg.payload=data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1530,"y":1600,"wires":[["c12f50ba.8c6ae"]]},{"id":"2715831e.c7f2ec","type":"function","z":"83a6b36.1f9505","name":"Flow var","func":"flow.set('name', msg.payload.newmachine);\nflow.set('pac', msg.payload.pac); // PAC \nflow.set('long', msg.payload.lon);\nflow.set('lat',msg.payload.lat);\nflow.set('idhex',msg.payload.idhex);\nflow.set('prodcert', msg.payload.prodcert) // Product Certificate \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1140,"wires":[["bb1c5092.51b84"]]},{"id":"bb1c5092.51b84","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":1140,"wires":[]},{"id":"c12f50ba.8c6ae","type":"function","z":"83a6b36.1f9505","name":"Headers New Device ","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = \"Basic NWYyMTVjZTNlODMzZDkwMzYyMWQ2NmNlOmFkMGJjMzY3NTI2MTcyZWI1ZDczZDk3ZjFlOGJjYzY3\";\nmsg.headers['php-auth-user'] = flow.get('user');\nmsg.headers['php-auth-pw'] = flow.get('password');\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":1600,"wires":[["69b77027.9ee2d","5ad44ceb.667634"]]},{"id":"69b77027.9ee2d","type":"http request","z":"83a6b36.1f9505","name":"","method":"POST","ret":"bin","paytoqs":"ignore","url":"https://api.sigfox.com/v2/devices/","tls":"","persist":false,"proxy":"","authType":"","x":1990,"y":1600,"wires":[["b1ab2832.b50ec8","171963b8.8b945c"]]},{"id":"b1ab2832.b50ec8","type":"function","z":"83a6b36.1f9505","name":"","func":"msg.payload=msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2170,"y":1600,"wires":[["4c9f0d29.b9d324"]]},{"id":"4c9f0d29.b9d324","type":"json","z":"83a6b36.1f9505","name":"","property":"payload","action":"","pretty":false,"x":2330,"y":1600,"wires":[["74e7f34b.815bec"]]},{"id":"587f3b4b.3e4274","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2670,"y":1680,"wires":[]},{"id":"cc84a321.b08a5","type":"function","z":"83a6b36.1f9505","name":"Headers DeviceType","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = \"Basic NWYyMTVjZTNlODMzZDkwMzYyMWQ2NmNlOmFkMGJjMzY3NTI2MTcyZWI1ZDczZDk3ZjFlOGJjYzY3\";\nmsg.headers['php-auth-user'] = flow.get('user');\nmsg.headers['php-auth-pw'] = flow.get('password');\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1780,"y":1760,"wires":[["f4a7bb82.8df2c8","dad142ac.aaee"]]},{"id":"f4a7bb82.8df2c8","type":"http request","z":"83a6b36.1f9505","name":"","method":"POST","ret":"bin","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1990,"y":1760,"wires":[["323dda15.0b7f56","3b5e527a.56c99e"]]},{"id":"323dda15.0b7f56","type":"function","z":"83a6b36.1f9505","name":"","func":"msg.payload=msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":2190,"y":1760,"wires":[["137dee4c.216362"]]},{"id":"4da5f85.7be0408","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2670,"y":1820,"wires":[]},{"id":"137dee4c.216362","type":"json","z":"83a6b36.1f9505","name":"","property":"payload","action":"","pretty":false,"x":2330,"y":1760,"wires":[["493e3a96.2a2ab4"]]},{"id":"14eaac07.854184","type":"function","z":"83a6b36.1f9505","name":"New Callback ","func":"msg['url']=`https://api.sigfox.com/v2/device-types/${flow.get('devicetypeid')}/callbacks`;\nlet data={\n    \"channel\": \"URL\",\n    \"callbackType\": 1,\n    \"callbackSubtype\": 6,\n    \"enabled\": true,\n    \"url\": \"https://cnm-ih-na.azure-devices.net/devices/urn%3Adev%3Aops%3A000000-EMA-prod-3f290a49514ab0554bff8cf3/messages/events?api-version=2016-11-14\",\n    \"contentType\": \"application/json\",\n    \"httpMethod\": \"POST\",\n    \"headers\": {\n        \"Authorization\":\"Basic TlJfYWNjb3VudDpJSW9UbiMyMDE4MTAyMw==\",\n        \"Authorizationma\": msg.payload.data.generateNewSasToken,\n            },\n    \"downlinkHook\": false,\n    \"payloadConfig\":\"nummsg::uint:16 i1::uint:16 i2::int:16 i3::int:16 i4::int:16 i5::int:16\",\n    \"sendSni\": true,\n    \"bodyTemplate\":\"{\\\"ETA\\\" : {customData#i1},\\\"Hzbeforeamp\\\":{customData#i2}, \\\"MotorCurrent\\\":{customData#i3}, \\\"MotorTorque\\\": {customData#i4}, \\\"location\\\":{computedLocation}, \\\"time\\\":{time}}\"\n}\n;\n\nmsg.payload=data;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":1760,"wires":[["cc84a321.b08a5"]]},{"id":"3b5e527a.56c99e","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":2260,"y":1860,"wires":[]},{"id":"5ad44ceb.667634","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1990,"y":1680,"wires":[]},{"id":"cc93015a.65cb3","type":"http in","z":"83a6b36.1f9505","name":"","url":"/proxy","method":"post","upload":false,"swaggerDoc":"","x":170,"y":2680,"wires":[["d80697c0.679638","c9dd3e8b.4fa13","360ec4ca.00df9c"]]},{"id":"f48a44c5.a5fa78","type":"http response","z":"83a6b36.1f9505","name":"","statusCode":"200","headers":{},"x":680,"y":2680,"wires":[]},{"id":"d80697c0.679638","type":"change","z":"83a6b36.1f9505","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"hola mundo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2680,"wires":[["f48a44c5.a5fa78"]]},{"id":"574746f8.3fbfb8","type":"inject","z":"83a6b36.1f9505","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1450,"y":1340,"wires":[["b01945ff.d59708"]]},{"id":"104931d.89069ce","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2210,"y":1060,"wires":[]},{"id":"5887d81e.2fc5c8","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":2220,"y":1100,"wires":[]},{"id":"45910a38.df4ac4","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2230,"y":1380,"wires":[]},{"id":"89595929.15b1c8","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2190,"y":1440,"wires":[]},{"id":"171963b8.8b945c","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2210,"y":1680,"wires":[]},{"id":"9b48a40a.765ab8","type":"inject","z":"83a6b36.1f9505","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":{\"generateNewSasToken\":{\"id\":\"5d5c17c9256432154136de12\"}}}","payloadType":"json","x":1190,"y":1760,"wires":[["14eaac07.854184"]]},{"id":"c9dd3e8b.4fa13","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":2740,"wires":[]},{"id":"360ec4ca.00df9c","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":2860,"wires":[]},{"id":"ea1ad8e3.197f08","type":"inject","z":"83a6b36.1f9505","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1240,"y":1600,"wires":[["d50fc0c0.7ac0d"]]},{"id":"bacbc712.94a4e8","type":"function","z":"83a6b36.1f9505","name":"idhex flow var","func":"flow.set('idhex', msg.payload.id);\nmsg.payload=msg.payload.id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"flow.set('devicetypeid',msg.payload.id);\nmsg.payload=msg.payload.id;\nreturn msg","finalize":"","x":1420,"y":1520,"wires":[["d50fc0c0.7ac0d"]]},{"id":"74e7f34b.815bec","type":"function","z":"83a6b36.1f9505","name":"errors","func":"msg.payload=msg.payload.message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2470,"y":1600,"wires":[["587f3b4b.3e4274"]]},{"id":"493e3a96.2a2ab4","type":"function","z":"83a6b36.1f9505","name":"errors","func":"msg.payload=msg.payload.message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2490,"y":1760,"wires":[["4da5f85.7be0408"]]},{"id":"c550cb6.6721538","type":"function","z":"83a6b36.1f9505","name":"errors","func":"msg.payload=msg.payload.message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1510,"y":1440,"wires":[["7ced9326.774a8c"]]},{"id":"434fa78.84c4d58","type":"comment","z":"83a6b36.1f9505","name":"https:/2.139.234.243:/1881","info":"","x":280,"y":2620,"wires":[]},{"id":"2e2e7410.68f65c","type":"ui_text_input","z":"83a6b36.1f9505","name":"","label":"","tooltip":"","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":2760,"y":1340,"wires":[[]]},{"id":"f2161394.09a2b","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2530,"y":1280,"wires":[]},{"id":"562ca78e.e0c3d8","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2530,"y":1200,"wires":[]},{"id":"618d938c.0d5d9c","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2530,"y":1140,"wires":[]},{"id":"dad142ac.aaee","type":"debug","z":"83a6b36.1f9505","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1990,"y":1860,"wires":[]},{"id":"6df5ef9a.9247b","type":"telegram command","z":"38478f88.80961","name":"/Revisar","command":"/Revisar","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":160,"y":660,"wires":[["62ce0d4d.c1b594"],[]]},{"id":"62ce0d4d.c1b594","type":"function","z":"38478f88.80961","name":"","func":"msg.payload.content=`\n    Cliente: ${flow.get('customerid')}\n    Nombre: ${flow.get('name')}\n    ID: ${flow.get('idhex')}\n    lat: ${flow.get('lat')}\n    long: ${flow.get('lng')}\n`;\n\nvar opts = {\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['/Confirmar'],\n      ['/Cancelar']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\n\n\nmsg.error = false;\nmsg.payload.options = opts;\nmsg.payload.type = \"message\";\n\nreturn [ msg ]\n                    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":660,"wires":[["bf95ef61.9c7e7"]]},{"id":"bf95ef61.9c7e7","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":560,"y":660,"wires":[[]]},{"id":"29b69056.685c3","type":"function","z":"38478f88.80961","name":"","func":"msg.payload.content=`No? Recuerde que puede iniciar el proceso cuando asi lo desee presionando sobre el siguiente enlace\n\n\n                                                    /Equipo_Nuevo.\n\n`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":760,"wires":[["1e2b7df.092f682"]]},{"id":"c751d9dd.214128","type":"telegram command","z":"38478f88.80961","name":"/No","command":"/No","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":150,"y":760,"wires":[["29b69056.685c3"],[]]},{"id":"1e2b7df.092f682","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":570,"y":760,"wires":[[]]},{"id":"3d15cdf8.106b82","type":"telegram command","z":"38478f88.80961","name":"/Confirmar ","command":"/Confirmar","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":160,"y":860,"wires":[["a7d7c336.99771"],[]]},{"id":"a7d7c336.99771","type":"function","z":"38478f88.80961","name":"","func":"\nmsg.payload.content=`Equipo registrado!!\n\nPara registrar un nuevo dispositivo presione sobre la siguiente opción\n\n\n/Equipo_Nuevo\n\n\n.\n\n`;\nvar opts = {\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['/Equipo_Nuevo']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\n\n\nmsg.error = false;\nmsg.payload.options = opts;\nmsg.payload.type = \"message\";\n\nreturn [ msg ]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":900,"wires":[["8f2f5786.ecc878","79735c2.3a10ea4"]]},{"id":"8f2f5786.ecc878","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":920,"wires":[]},{"id":"79735c2.3a10ea4","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":570,"y":860,"wires":[[]]},{"id":"7faea9ee.ad7138","type":"telegram command","z":"38478f88.80961","name":"/Finalizar","command":"/Finalizar","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":160,"y":940,"wires":[["a7d7c336.99771"],[]]},{"id":"30582120.8a82de","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","haserroroutput":false,"outputs":1,"x":670,"y":140,"wires":[[]]},{"id":"a78df6df.9a4aa8","type":"telegram command","z":"38478f88.80961","name":"Bienvenida ","command":"/start","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":140,"y":200,"wires":[["69e763fc.fc188c","e2159971.b91788"],[]]},{"id":"69e763fc.fc188c","type":"function","z":"38478f88.80961","name":"","func":"msg.payload.content=`Hola, soy el nuevo nuevo asistente para el registro de dispositivos. \n\n\nLe recuerdo que para poder registrar los datos del equipo deberá responder a todos los mensajes en concreto deslizando su dedo hacia la izquierda sobre la consulta.\n\n\n\nIniciamos con el proceso?`;\nvar opts = {\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['/Equipo_Nuevo'],\n      ['/No']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\n\n\nmsg.error = false;\nmsg.payload.options = opts;\nmsg.payload.type = \"message\";\n\nreturn [ msg ]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":160,"wires":[["30582120.8a82de"]]},{"id":"e2159971.b91788","type":"link out","z":"38478f88.80961","name":"","links":["d42345d6.e585e8"],"x":295,"y":260,"wires":[]},{"id":"d42345d6.e585e8","type":"link in","z":"83a6b36.1f9505","name":"","links":["e2159971.b91788"],"x":175,"y":300,"wires":[["cfef7860.8e13b8"]]},{"id":"84847d8a.c0346","type":"link out","z":"83a6b36.1f9505","name":"","links":["5a1dcc92.6ec074"],"x":1615,"y":920,"wires":[]},{"id":"5a1dcc92.6ec074","type":"link in","z":"38478f88.80961","name":"","links":["84847d8a.c0346"],"x":655,"y":260,"wires":[["55636b54.815f94","963c23ae.ff39a"]]},{"id":"55636b54.815f94","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":240,"wires":[]},{"id":"963c23ae.ff39a","type":"function","z":"38478f88.80961","name":"","func":"const menu=[msg.payload.length]\n\nfor(i=0; i<msg.payload.length; i++){\n    menu[i]={\n        \"text\":msg.payload[i].name,\n        \"callback_data\": msg.payload[i].id\n    }\n}\nflow.set('menu', menu);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":300,"wires":[["ff3169ba.310718"]]},{"id":"ff3169ba.310718","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":300,"wires":[]},{"id":"5a567aba.aa3f44","type":"telegram event","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","event":"callback_query","autoanswer":false,"x":160,"y":320,"wires":[["d5cd1bf2.45e698","b489c505.7bab68"]]},{"id":"d5cd1bf2.45e698","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":400,"wires":[]},{"id":"e5beddd0.78d5c","type":"telegram command","z":"38478f88.80961","d":true,"name":"Nuevo Equipo","command":"/Equipo_Nuevo","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":130,"y":1260,"wires":[["ddc24acc.d29b48"],[]]},{"id":"ddc24acc.d29b48","type":"function","z":"38478f88.80961","name":"","func":"msg.payload.content=\"Por favor ingrese el NOMBRE del dispositivo que desea registrar\";\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1260,"wires":[["5c4cfed5.d8ccd"]]},{"id":"eb1423a6.e63d4","type":"telegram reply","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","x":720,"y":1260,"wires":[["602cf63.ae90808","62591ca5.55cc64"]]},{"id":"5c4cfed5.d8ccd","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","haserroroutput":false,"outputs":1,"x":510,"y":1260,"wires":[["eb1423a6.e63d4","eb735fa6.86188"]]},{"id":"602cf63.ae90808","type":"function","z":"38478f88.80961","name":"","func":"flow.set('name', msg.payload.content);\nmsg.payload.content=\"Ahora ingrese el ID del equipo. Este identificador lo encontrará en la pegatina informativa\";\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1260,"wires":[["dc1b557a.a60248"]]},{"id":"6758a47a.c6192c","type":"telegram reply","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","x":1320,"y":1260,"wires":[["76cb159b.9aa6fc"]]},{"id":"dc1b557a.a60248","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":1110,"y":1260,"wires":[["6758a47a.c6192c"]]},{"id":"76cb159b.9aa6fc","type":"function","z":"38478f88.80961","name":"","func":"flow.set('idhex', msg.payload.content);\nmsg.payload.content=\"Adjunte su ubicación\";\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":1260,"wires":[["61a18660.665118"]]},{"id":"51dfe5f6.ce00dc","type":"telegram reply","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","x":1960,"y":1260,"wires":[["567d29bc.fe4878","6a178cbc.2c59b4"]]},{"id":"61a18660.665118","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":1750,"y":1260,"wires":[["51dfe5f6.ce00dc"]]},{"id":"567d29bc.fe4878","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2190,"y":1320,"wires":[]},{"id":"6a178cbc.2c59b4","type":"function","z":"38478f88.80961","name":"","func":"msg.payload.options = {reply_to_message_id : msg.payload.messageId}\nflow.set('lat', msg.payload.content.latitude);\nflow.set('lng', msg.payload.content.longitude);\nmsg.payload.content=\"Desea verificar la información del equipo?\"\nvar opts = {\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['/Revisar'],\n      ['/Finalizar']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\n\n\nmsg.error = false;\nmsg.payload.options = opts;\nmsg.payload.type = \"message\";\n\nreturn [ msg ]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2210,"y":1260,"wires":[["5a129acd.963124"]]},{"id":"5a129acd.963124","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":2430,"y":1260,"wires":[[]]},{"id":"62591ca5.55cc64","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.content","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1320,"wires":[]},{"id":"eb735fa6.86188","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":1320,"wires":[]},{"id":"9d4c1029.2ee2f","type":"telegram command","z":"38478f88.80961","d":true,"name":"/Cancelar","command":"/Cancelar","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":120,"y":1340,"wires":[["ddc24acc.d29b48"],[]]},{"id":"1c7cf2bf.b817fd","type":"telegram command","z":"38478f88.80961","name":"Nuevo Equipo","command":"/Equipo_Nuevo","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":150,"y":500,"wires":[["303f8d76.16e132"],[]]},{"id":"2ecb6054.0aee8","type":"telegram reply","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","x":1040,"y":500,"wires":[["7b202ec9.248e2","75b869fc.39b9c8"]]},{"id":"31a49609.579d8a","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","haserroroutput":false,"outputs":1,"x":770,"y":500,"wires":[["2ecb6054.0aee8","5e608c16.d71a14"]]},{"id":"7b202ec9.248e2","type":"function","z":"38478f88.80961","name":"","func":"flow.set('name', msg.payload.content);\nmsg.payload.content=\"Ahora ingrese el ID del equipo. Este identificador lo encontrará en la pegatina informativa\";\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":500,"wires":[["a7835677.d7fc28"]]},{"id":"e71c895b.490cf8","type":"telegram reply","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","x":1640,"y":500,"wires":[["4aa56c15.2a8144"]]},{"id":"a7835677.d7fc28","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":1430,"y":500,"wires":[["e71c895b.490cf8"]]},{"id":"4aa56c15.2a8144","type":"function","z":"38478f88.80961","name":"","func":"flow.set('idhex', msg.payload.content);\nmsg.payload.content=\"Adjunte su ubicación\";\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1840,"y":500,"wires":[["4e864e8e.cd1fd"]]},{"id":"432ef55c.ce447c","type":"telegram reply","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","x":2280,"y":500,"wires":[["87fd1b15.234ee8","a8ade6c4.050198"]]},{"id":"4e864e8e.cd1fd","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":2070,"y":500,"wires":[["432ef55c.ce447c"]]},{"id":"87fd1b15.234ee8","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2510,"y":560,"wires":[]},{"id":"a8ade6c4.050198","type":"function","z":"38478f88.80961","name":"","func":"msg.payload.options = {reply_to_message_id : msg.payload.messageId}\nflow.set('lat', msg.payload.content.latitude);\nflow.set('lng', msg.payload.content.longitude);\nmsg.payload.content=\"Desea verificar la información del equipo?\"\nvar opts = {\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['/Revisar'],\n      ['/Finalizar']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\n\n\nmsg.error = false;\nmsg.payload.options = opts;\nmsg.payload.type = \"message\";\n\nreturn [ msg ]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2530,"y":500,"wires":[["20c27220.046e1e"]]},{"id":"20c27220.046e1e","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":2750,"y":500,"wires":[[]]},{"id":"75b869fc.39b9c8","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.content","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":560,"wires":[]},{"id":"5e608c16.d71a14","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":560,"wires":[]},{"id":"bd9e040.f646bf8","type":"telegram command","z":"38478f88.80961","name":"/Cancelar","command":"/Cancelar","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":140,"y":580,"wires":[["303f8d76.16e132"],[]]},{"id":"b489c505.7bab68","type":"function","z":"38478f88.80961","name":"","func":"flow.set('customerid',msg.payload.content);\nmsg2={};\nmsg2=msg;\nmsg2.payload.type=\"message\";\nmsg2.payload.content=\"Por favor ingrese el NOMBRE del dispositivo que desea registrar.\";\n\nreturn [msg, msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":370,"y":320,"wires":[[],["54965aab.b96d84","31a49609.579d8a"]]},{"id":"54965aab.b96d84","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":400,"wires":[]},{"id":"776ec32d.5d2a6c","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","haserroroutput":false,"outputs":1,"x":630,"y":580,"wires":[[]]},{"id":"303f8d76.16e132","type":"function","z":"38478f88.80961","name":"build keyboard","func":"var opts = {\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\":[flow.get('menu')]\n  })\n};\n\nmsg.payload.content = \"Por favor, seleccione un cliente\";\nmsg.payload.options = opts;\nmsg.payload.type = \"message\";\n\nreturn [ msg ];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":580,"wires":[["776ec32d.5d2a6c"]]},{"id":"d0c278aa.d54f38","type":"join","z":"38478f88.80961","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":360,"y":1780,"wires":[[]]},{"id":"71f42881.6388f8","type":"comment","z":"38478f88.80961","name":"FUERA DE SERVICIO :)","info":"","x":380,"y":1180,"wires":[]},{"id":"2aa47dda.c9f4a2","type":"function","z":"5327f9a7.b0a818","name":"","func":"var max=220;\n    min=215;\n\nmsg.payload=Math.random() * (max - min) + min;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":160,"wires":[["5a5df688.f703a8"]]},{"id":"822b817e.509","type":"inject","z":"5327f9a7.b0a818","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":240,"wires":[["2aa47dda.c9f4a2","a5834c8.47a31b","7170f4d.857fa0c","53ed2f64.8fc25"]]},{"id":"a5834c8.47a31b","type":"function","z":"5327f9a7.b0a818","name":"","func":"var max=15;\n    min=20;\n\nmsg.payload=Math.random() * (max - min) + min;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":240,"wires":[["f2fbb1f.d1fb35"]]},{"id":"7170f4d.857fa0c","type":"function","z":"5327f9a7.b0a818","name":"","func":"var max=2000;\n    min=1900;\n\nmsg.payload=Math.random() * (max - min) + min;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":340,"wires":[["2a7c24d7.ae58cc"]]},{"id":"5a5df688.f703a8","type":"function","z":"5327f9a7.b0a818","name":"","func":"var n = Date.now();\nconst data={\n    \"metrics\":{\n    \"assetName\":\"ATV312\",\n    \"Tension\":msg.payload,\n    \"Tension_timestamp\":n,\n    }\n}\nmsg.payload=JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":160,"wires":[["610b79e8.2709c8","b90064f3.856198"]]},{"id":"f2fbb1f.d1fb35","type":"function","z":"5327f9a7.b0a818","name":"","func":"var n = Date.now();\nconst data={\n    \"metrics\":{\n    \"assetName\":\"ATV312\",\n    \"Corriente\":msg.payload,\n    \"Corriente_timestamp\":n,\n    }\n}\nmsg.payload=JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":240,"wires":[["610b79e8.2709c8","b90064f3.856198"]]},{"id":"2a7c24d7.ae58cc","type":"function","z":"5327f9a7.b0a818","name":"","func":"var n = Date.now();\nconst data={\n    \"metrics\":{\n    \"assetName\":\"ATV312\",\n    \"Potencia\":msg.payload,\n    \"Potencia_timestamp\":n,\n    }\n}\nmsg.payload=JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":340,"wires":[["610b79e8.2709c8","b90064f3.856198"]]},{"id":"610b79e8.2709c8","type":"function","z":"5327f9a7.b0a818","name":"selectOrganization","func":"msg.headers={}\nmsg.headers['Authorization']=\"SharedAccessSignature sr=cnm-ih-na.azure-devices.net%2Furn%3Adev%3Aops%3A000000-EMA-prod-2fd1e6a3b1567cd78ce364d4&sig=9BRkEfctMK7mOO62P5A4JYUj9P1FRp6f0DO0fH8dPWg%3D&se=1638352768\";\nmsg.headers['Content-Type']='application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":240,"wires":[["292cee5a.543e02"]]},{"id":"292cee5a.543e02","type":"http request","z":"5327f9a7.b0a818","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://cnm-ih-na.azure-devices.net/devices/urn%3Adev%3Aops%3A000000-EMA-prod-2fd1e6a3b1567cd78ce364d4/messages/events?api-version=2016-11-14","tls":"","persist":false,"proxy":"","authType":"","x":1630,"y":240,"wires":[["85deb57d.b13bf8"]]},{"id":"85deb57d.b13bf8","type":"debug","z":"5327f9a7.b0a818","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1880,"y":240,"wires":[]},{"id":"b90064f3.856198","type":"json","z":"5327f9a7.b0a818","name":"","property":"payload","action":"","pretty":false,"x":980,"y":400,"wires":[["d3029cc2.3c7c9"]]},{"id":"d3029cc2.3c7c9","type":"debug","z":"5327f9a7.b0a818","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1200,"y":400,"wires":[]},{"id":"3a0d4fb.95eb6b","type":"function","z":"5327f9a7.b0a818","name":"","func":"var n = Date.now();\n\nif(msg.payload>0.5){\nconst data={\n    \"metrics\":{\n    \"assetName\":\"ATV312\",\n    \"ESTADO\":1,\n    \"ESTADO_timestamp\":n,\n    }\n}\nmsg.payload=JSON.stringify(data);\nreturn msg\n}else{\nconst data1={\n    \"metrics\":{\n    \"assetName\":\"ATV312\",\n    \"ESTADO\":0,\n    \"ESTADO_timestamp\":n,\n    }\n}\nmsg.payload=JSON.stringify(data1);\nreturn msg}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":460,"wires":[["331ae97f.59c586","610b79e8.2709c8"]]},{"id":"53ed2f64.8fc25","type":"function","z":"5327f9a7.b0a818","name":"","func":"var max=1;\n    min=0;\n\nmsg.payload=Math.random() * (max - min) + min;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":460,"wires":[["3a0d4fb.95eb6b"]]},{"id":"331ae97f.59c586","type":"debug","z":"5327f9a7.b0a818","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":520,"wires":[]}]