tgbot.json
[{"id":"38478f88.80961","type":"tab","label":"TG_BOT","disabled":false,"info":""},{"id":"6df5ef9a.9247b","type":"telegram command","z":"38478f88.80961","name":"/Revisar","command":"/Revisar","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":160,"y":660,"wires":[["62ce0d4d.c1b594"],[]]},{"id":"62ce0d4d.c1b594","type":"function","z":"38478f88.80961","name":"","func":"msg.payload.content=`\n    Cliente: ${flow.get('customerid')}\n    Nombre: ${flow.get('name')}\n    ID: ${flow.get('idhex')}\n    lat: ${flow.get('lat')}\n    long: ${flow.get('lng')}\n`;\n\nvar opts = {\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['/Confirmar'],\n      ['/Cancelar']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\n\n\nmsg.error = false;\nmsg.payload.options = opts;\nmsg.payload.type = \"message\";\n\nreturn [ msg ]\n                    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":660,"wires":[["bf95ef61.9c7e7"]]},{"id":"bf95ef61.9c7e7","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":560,"y":660,"wires":[[]]},{"id":"29b69056.685c3","type":"function","z":"38478f88.80961","name":"","func":"msg.payload.content=`No? Recuerde que puede iniciar el proceso cuando asi lo desee presionando sobre el siguiente enlace\n\n\n                                                    /Equipo_Nuevo.\n\n`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":760,"wires":[["1e2b7df.092f682"]]},{"id":"c751d9dd.214128","type":"telegram command","z":"38478f88.80961","name":"/No","command":"/No","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":150,"y":760,"wires":[["29b69056.685c3"],[]]},{"id":"1e2b7df.092f682","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":570,"y":760,"wires":[[]]},{"id":"3d15cdf8.106b82","type":"telegram command","z":"38478f88.80961","name":"/Confirmar ","command":"/Confirmar","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":160,"y":860,"wires":[["a7d7c336.99771"],[]]},{"id":"a7d7c336.99771","type":"function","z":"38478f88.80961","name":"","func":"\nmsg.payload.content=`Equipo registrado!!\n\nPara registrar un nuevo dispositivo presione sobre la siguiente opción\n\n\n/Equipo_Nuevo\n\n\n.\n\n`;\nvar opts = {\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['/Equipo_Nuevo']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\n\n\nmsg.error = false;\nmsg.payload.options = opts;\nmsg.payload.type = \"message\";\n\nreturn [ msg ]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":900,"wires":[["8f2f5786.ecc878","79735c2.3a10ea4"]]},{"id":"8f2f5786.ecc878","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":920,"wires":[]},{"id":"79735c2.3a10ea4","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":570,"y":860,"wires":[[]]},{"id":"7faea9ee.ad7138","type":"telegram command","z":"38478f88.80961","name":"/Finalizar","command":"/Finalizar","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":160,"y":940,"wires":[["a7d7c336.99771"],[]]},{"id":"30582120.8a82de","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":590,"y":120,"wires":[[]]},{"id":"a78df6df.9a4aa8","type":"telegram command","z":"38478f88.80961","name":"Bienvenida ","command":"/start","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":140,"y":200,"wires":[["69e763fc.fc188c","e2159971.b91788"],[]]},{"id":"69e763fc.fc188c","type":"function","z":"38478f88.80961","name":"","func":"msg.payload.content=`Hola, soy el nuevo nuevo asistente para el registro de dispositivos. \n\n\nLe recuerdo que para poder registrar los datos del equipo deberá responder a todos los mensajes en concreto deslizando su dedo hacia la izquierda sobre la consulta.\n\n\n\nIniciamos con el proceso?`;\nvar opts = {\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['/Equipo_Nuevo'],\n      ['/No']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\n\n\nmsg.error = false;\nmsg.payload.options = opts;\nmsg.payload.type = \"message\";\n\nreturn [ msg ]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":120,"wires":[["30582120.8a82de"]]},{"id":"e2159971.b91788","type":"link out","z":"38478f88.80961","name":"","links":["d42345d6.e585e8"],"x":295,"y":260,"wires":[]},{"id":"5a1dcc92.6ec074","type":"link in","z":"38478f88.80961","name":"","links":["84847d8a.c0346"],"x":655,"y":260,"wires":[["55636b54.815f94","963c23ae.ff39a"]]},{"id":"55636b54.815f94","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":240,"wires":[]},{"id":"963c23ae.ff39a","type":"function","z":"38478f88.80961","name":"","func":"const menu=[msg.payload.length]\n\nfor(i=0; i<msg.payload.length; i++){\n    menu[i]={\n        \"text\":msg.payload[i].name,\n        \"callback_data\": msg.payload[i].id\n    }\n}\nflow.set('menu', menu);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":300,"wires":[["ff3169ba.310718"]]},{"id":"ff3169ba.310718","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":300,"wires":[]},{"id":"5a567aba.aa3f44","type":"telegram event","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","event":"callback_query","autoanswer":false,"x":160,"y":320,"wires":[["d5cd1bf2.45e698","b489c505.7bab68"]]},{"id":"d5cd1bf2.45e698","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":400,"wires":[]},{"id":"e5beddd0.78d5c","type":"telegram command","z":"38478f88.80961","d":true,"name":"Nuevo Equipo","command":"/Equipo_Nuevo","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":130,"y":1260,"wires":[["ddc24acc.d29b48"],[]]},{"id":"ddc24acc.d29b48","type":"function","z":"38478f88.80961","name":"","func":"msg.payload.content=\"Por favor ingrese el NOMBRE del dispositivo que desea registrar\";\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1260,"wires":[["5c4cfed5.d8ccd"]]},{"id":"eb1423a6.e63d4","type":"telegram reply","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","x":720,"y":1260,"wires":[["602cf63.ae90808","62591ca5.55cc64"]]},{"id":"5c4cfed5.d8ccd","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","haserroroutput":false,"outputs":1,"x":510,"y":1260,"wires":[["eb1423a6.e63d4","eb735fa6.86188"]]},{"id":"602cf63.ae90808","type":"function","z":"38478f88.80961","name":"","func":"flow.set('name', msg.payload.content);\nmsg.payload.content=\"Ahora ingrese el ID del equipo. Este identificador lo encontrará en la pegatina informativa\";\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":1260,"wires":[["dc1b557a.a60248"]]},{"id":"6758a47a.c6192c","type":"telegram reply","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","x":1320,"y":1260,"wires":[["76cb159b.9aa6fc"]]},{"id":"dc1b557a.a60248","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":1110,"y":1260,"wires":[["6758a47a.c6192c"]]},{"id":"76cb159b.9aa6fc","type":"function","z":"38478f88.80961","name":"","func":"flow.set('idhex', msg.payload.content);\nmsg.payload.content=\"Adjunte su ubicación\";\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":1260,"wires":[["61a18660.665118"]]},{"id":"51dfe5f6.ce00dc","type":"telegram reply","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","x":1960,"y":1260,"wires":[["567d29bc.fe4878","6a178cbc.2c59b4"]]},{"id":"61a18660.665118","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":1750,"y":1260,"wires":[["51dfe5f6.ce00dc"]]},{"id":"567d29bc.fe4878","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2190,"y":1320,"wires":[]},{"id":"6a178cbc.2c59b4","type":"function","z":"38478f88.80961","name":"","func":"msg.payload.options = {reply_to_message_id : msg.payload.messageId}\nflow.set('lat', msg.payload.content.latitude);\nflow.set('lng', msg.payload.content.longitude);\nmsg.payload.content=\"Desea verificar la información del equipo?\"\nvar opts = {\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['/Revisar'],\n      ['/Finalizar']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\n\n\nmsg.error = false;\nmsg.payload.options = opts;\nmsg.payload.type = \"message\";\n\nreturn [ msg ]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2210,"y":1260,"wires":[["5a129acd.963124"]]},{"id":"5a129acd.963124","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":2430,"y":1260,"wires":[[]]},{"id":"62591ca5.55cc64","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.content","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1320,"wires":[]},{"id":"eb735fa6.86188","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":1320,"wires":[]},{"id":"9d4c1029.2ee2f","type":"telegram command","z":"38478f88.80961","d":true,"name":"/Cancelar","command":"/Cancelar","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":120,"y":1340,"wires":[["ddc24acc.d29b48"],[]]},{"id":"1c7cf2bf.b817fd","type":"telegram command","z":"38478f88.80961","name":"Nuevo Equipo","command":"/Equipo_Nuevo","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":150,"y":500,"wires":[["303f8d76.16e132"],[]]},{"id":"2ecb6054.0aee8","type":"telegram reply","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","x":1040,"y":500,"wires":[["7b202ec9.248e2","75b869fc.39b9c8"]]},{"id":"31a49609.579d8a","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","haserroroutput":false,"outputs":1,"x":770,"y":500,"wires":[["2ecb6054.0aee8","5e608c16.d71a14"]]},{"id":"7b202ec9.248e2","type":"function","z":"38478f88.80961","name":"","func":"flow.set('name', msg.payload.content);\nmsg.payload.content=\"Ahora ingrese el ID del equipo. Este identificador lo encontrará en la pegatina informativa\";\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":500,"wires":[["a7835677.d7fc28"]]},{"id":"e71c895b.490cf8","type":"telegram reply","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","x":1640,"y":500,"wires":[["4aa56c15.2a8144"]]},{"id":"a7835677.d7fc28","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":1430,"y":500,"wires":[["e71c895b.490cf8"]]},{"id":"4aa56c15.2a8144","type":"function","z":"38478f88.80961","name":"","func":"flow.set('idhex', msg.payload.content);\nmsg.payload.content=\"Adjunte su ubicación\";\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1840,"y":500,"wires":[["4e864e8e.cd1fd"]]},{"id":"432ef55c.ce447c","type":"telegram reply","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","x":2280,"y":500,"wires":[["87fd1b15.234ee8","a8ade6c4.050198"]]},{"id":"4e864e8e.cd1fd","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":2070,"y":500,"wires":[["432ef55c.ce447c"]]},{"id":"87fd1b15.234ee8","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2510,"y":560,"wires":[]},{"id":"a8ade6c4.050198","type":"function","z":"38478f88.80961","name":"","func":"msg.payload.options = {reply_to_message_id : msg.payload.messageId}\nflow.set('lat', msg.payload.content.latitude);\nflow.set('lng', msg.payload.content.longitude);\nmsg.payload.content=\"Desea verificar la información del equipo?\"\nvar opts = {\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['/Revisar'],\n      ['/Finalizar']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\n\n\nmsg.error = false;\nmsg.payload.options = opts;\nmsg.payload.type = \"message\";\n\nreturn [ msg ]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2530,"y":500,"wires":[["20c27220.046e1e"]]},{"id":"20c27220.046e1e","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","outputs":1,"x":2750,"y":500,"wires":[[]]},{"id":"75b869fc.39b9c8","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.content","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":560,"wires":[]},{"id":"5e608c16.d71a14","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":560,"wires":[]},{"id":"bd9e040.f646bf8","type":"telegram command","z":"38478f88.80961","name":"/Cancelar","command":"/Cancelar","bot":"cd43a0ea.1b15b","strict":false,"hasresponse":true,"useRegex":false,"outputs":2,"x":140,"y":580,"wires":[["303f8d76.16e132"],[]]},{"id":"b489c505.7bab68","type":"function","z":"38478f88.80961","name":"","func":"flow.set('customerid',msg.payload.content);\nmsg2={};\nmsg2=msg;\nmsg2.payload.type=\"message\";\nmsg2.payload.content=\"Por favor ingrese el NOMBRE del dispositivo que desea registrar.\";\n\nreturn [msg, msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":370,"y":320,"wires":[[],["54965aab.b96d84","31a49609.579d8a"]]},{"id":"54965aab.b96d84","type":"debug","z":"38478f88.80961","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":400,"wires":[]},{"id":"776ec32d.5d2a6c","type":"telegram sender","z":"38478f88.80961","name":"","bot":"cd43a0ea.1b15b","haserroroutput":false,"outputs":1,"x":630,"y":580,"wires":[[]]},{"id":"303f8d76.16e132","type":"function","z":"38478f88.80961","name":"build keyboard","func":"var opts = {\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\":[flow.get('menu')]\n  })\n};\n\nmsg.payload.content = \"Por favor, seleccione un cliente\";\nmsg.payload.options = opts;\nmsg.payload.type = \"message\";\n\nreturn [ msg ];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":580,"wires":[["776ec32d.5d2a6c"]]},{"id":"d0c278aa.d54f38","type":"join","z":"38478f88.80961","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":360,"y":1780,"wires":[[]]},{"id":"71f42881.6388f8","type":"comment","z":"38478f88.80961","name":"FUERA DE SERVICIO :)","info":"","x":380,"y":1180,"wires":[]},{"id":"cd43a0ea.1b15b","type":"telegram bot","z":"","botname":"ATVassistant_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]